*.a
*.app
*.cmd
*.d
dkms.conf
*.dll
*.dSYM/
*.dylib
*.elf
*.exe
*.exp
*.gch
*.hex
*.i*86
*.idb
*.ilk
*.ko
*.la
*.lib
*.lo
*.map
Mkfile.old
*.mod*
Module.symvers
modules.order
*.o
*.obj
*.out
*.pch
*.pdb
*.so
*.so.*
*.su
.tmp_versions/
*.x86_64
