*.a
*.app
*.cmd
compiler
*.d
dkms.conf
*.dll
.DS_Store
*.dSYM/
*.dylib
*.elf
*.exe
*.exp
*.gch
*.hex
*.i*86
*.idb
*.ilk
*.ko
*.la
*.lib
*.lo
*.map
memory.dbg
Mkfile.old
*.mod*
Module.symvers
modules.order
*.o
*.obj
*.out
*.pch
*.pdb
scanner
*.so
*.so.*
*.su
test.php
.tmp_versions/
*.x86_64
